
/*cus*/
.btn-list{
    padding:22px 62px;
    border: solid 2px #777777;
    border-radius:10px;
    background-color:white;
    color:#777;
    font-size:18px;
    font-weight:500;
     margin-bottom:100px;
  }
  
  .btn-list:hover{
    background-color:#FFD900;
    color:#fff;
    border: solid 2px #FFD900;
    transition:.5s;
  }
  
  /*footer*/
  
  footer > img{
     margin-left:270px;
  }