/*nom*/
.section-2{
    padding-top:192px;
  }

  /*cus*/

  /*slr*/
.slr-1 {
    position: absolute;
    bottom: 920px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .slr-1:hover {
    transform: scale(1.15);
  }
  .slr-2 {
    position: absolute;
    bottom: 910px;
    left: 795px;
    transition: transform 0.5s;
  }
  
  .slr-2:hover {
    transform: scale(1.15);
  }
  .slr-3 {
    position: absolute;
    bottom: 910px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .slr-3:hover {
    transform: scale(1.15);
  }
  
  .slr-4 {
    position: absolute;
    bottom: 350px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .slr-4:hover {
    transform: scale(1.15);
  }
  
  .slr-5 {
    position: absolute;
    bottom: 350px;
    left: 793px;
    transition: transform 0.5s;
  }
  
  .slr-5:hover {
    transform: scale(1.15);
  }
  .slr-6 {
    position: absolute;
    bottom: 350px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .slr-6:hover {
    transform: scale(1.15);
  }
  
  /*ms*/
  .ms-1 {
    position: absolute;
    bottom: 920px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .ms-1:hover {
    transform: scale(1.15);
  }
  .ms-2 {
    position: absolute;
    bottom: 910px;
    left: 795px;
    transition: transform 0.5s;
  }
  
  .ms-2:hover {
    transform: scale(1.15);
  }
  .ms-3 {
    position: absolute;
    bottom: 910px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .ms-3:hover {
    transform: scale(1.15);
  }
  
  .ms-4 {
    position: absolute;
    bottom: 350px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .ms-4:hover {
    transform: scale(1.15);
  }
  
  .ms-5 {
    position: absolute;
    bottom: 350px;
    left: 793px;
    transition: transform 0.5s;
  }
  
  .ms-5:hover {
    transform: scale(1.15);
  }
  .ms-6 {
    position: absolute;
    bottom: 350px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .ms-6:hover {
    transform: scale(1.15);
  }
  
  /*com*/
  
  .com-1 {
    position: absolute;
    bottom: 920px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .com-1:hover {
    transform: scale(1.15);
  }
  .com-2 {
    position: absolute;
    bottom: 910px;
    left: 795px;
    transition: transform 0.5s;
  }
  
  .com-2:hover {
    transform: scale(1.15);
  }
  .com-3 {
    position: absolute;
    bottom: 910px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .com-3:hover {
    transform: scale(1.15);
  }
  
  .com-4 {
    position: absolute;
    bottom: 350px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .com-4:hover {
    transform: scale(1.15);
  }
  
  .com-5 {
    position: absolute;
    bottom: 350px;
    left: 793px;
    transition: transform 0.5s;
  }
  
  .com-5:hover {
    transform: scale(1.15);
  }
  .com-6 {
    position: absolute;
    bottom: 350px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .com-6:hover {
    transform: scale(1.15);
  }
  
  /*lens*/
  .lens-1 {
    position: absolute;
    bottom: 330px;
    left: 360px;
    transition: transform 0.5s;
  }
  
  .lens-1:hover {
    transform: scale(1.07);
  }
  .lens-2 {
    position: absolute;
    bottom: 330px;
    left: 795px;
    transition: transform 0.5s;
  }
  
  .lens-2:hover {
    transform: scale(1.15);
  }
  .lens-3 {
    position: absolute;
    bottom: 330px;
    left: 1230px;
    transition: transform 0.5s;
  }
  
  .lens-3:hover {
    transform: scale(1.15);
  }
  
  /*speed*/
  .speed-1 {
    position: absolute;
    bottom: 330px;
    left: 352px;
    transition: transform 0.5s;
  }
  
  .speed-1:hover {
    transform: scale(1.15);
  }
  .speed-2 {
    position: absolute;
    bottom: 330px;
    left: 782px;
    transition: transform 0.5s;
  }
  
  .speed-2:hover {
    transform: scale(1.15);
  }
  .speed-3 {
    position: absolute;
    bottom: 330px;
    left: 1208px;
    transition: transform 0.5s;
  }
  
  .speed-3:hover {
    transform: scale(1.15);
  }
  
  /*street*/
  .street-1 {
    position: absolute;
    bottom: 330px;
    left: 352px;
    transition: transform 0.5s;
  }
  
  .street-1:hover {
    transform: scale(1.15);
  }
  .street-2 {
    position: absolute;
    bottom: 330px;
    left: 782px;
    transition: transform 0.5s;
  }
  
  .street-2:hover {
    transform: scale(1.15);
  }
  .street-3 {
    position: absolute;
    bottom: 330px;
    left: 1208px;
    transition: transform 0.5s;
  }
  
  .street-3:hover {
    transform: scale(1.15);
  }
  
  /*binoculars*/
  
  .binoculars-1 {
    position: absolute;
    bottom: 330px;
    left: 352px;
    transition: transform 0.5s;
  }
  
  .binoculars-1:hover {
    transform: scale(1.15);
  }
  .binoculars-2 {
    position: absolute;
    bottom: 330px;
    left: 782px;
    transition: transform 0.5s;
  }
  
  .binoculars-2:hover {
    transform: scale(1.15);
  }
  .binoculars-3 {
    position: absolute;
    bottom: 330px;
    left: 1208px;
    transition: transform 0.5s;
  }
  
  .binoculars-3:hover {
    transform: scale(1.15);
  }
  
  /*Accessories*/
  .Accessories-1 {
    position: absolute;
    bottom: 230px;
    left: 865px;
    transition: transform 0.5s;
  }
  
  .Accessories-1:hover {
    transform: scale(1.3);
  }
  .Accessories-2 {
    position: absolute;
    bottom: 230px;
    left: 1172px;
    transition: transform 0.5s;
  }
  
  .Accessories-2:hover {
    transform: scale(1.3);
  }
  .Accessories-3 {
    position: absolute;
    bottom: 230px;
    left: 1515px;
    transition: transform 0.5s;
  }
  
  .Accessories-3:hover {
    transform: scale(1.3);
  }
  